<div class="container clearfix">
    <div class="people-list" id="people-list">
      <ul class="list">
        <li class="clearfix" *ngFor = "let key of userKeys" (click)= "chooseChatroom(key)" >
          <div *ngIf = "key !== currentUser.id">
                <img src="{{users[key].profile_pic}}" alt="avatar" class = "w3-circle"/>
                <div class="about">
                  <div class="name">{{users[key].name}}</div>
                  <div class="status">
                    <i class="fa fa-circle {{users[key].realtime}} "></i> {{users[key].realtime}}
                  </div>
                </div>
              <hr class="w3-clear">
		      </div>
        </li>
      </ul>
    </div>
    
    <div class="chat">
      <div class="chat-header clearfix">
        <img src="{{users[selectedChatroom.to].profile_pic}}" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">Chat with {{users[selectedChatroom.to].name}}</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul>
          <li class="clearfix" *ngFor = "let message of selectedChatroom.messages">
            <div *ngIf = "if(message.author === currentUser.id); then forme else forother">
              
             
            </div>
          <ng-template #forme><div class="message-data align-right">
              <span class="message-data-time" >{{message.time}}</span> &nbsp; &nbsp;
              <span class="message-data-name" >You</span><i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              {{message.text}}
            </div>
          </ng-template>
            <ng-template #forother>
                <div class="message-data">
                    <span class="message-data-name"><i class="fa fa-circle online"></i> {{users[message.author].name}}</span>
                    <span class="message-data-time">{{message.time}}</span>
                  </div>
                  <div class="message my-message">
                    {{message.text}}
                  </div>
            </ng-template>
          </li>
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        
        <button>Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->



