<div class="col-md-12 col-sm-12 col-xs-12 first-section" (click) = "openChat()">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-6 left-first-section " >
      <p>GreenAms Messenger</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
      <a href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<div class = "main-section">
  <div class="container w3layouts agileits">

		<div id="chatbox">

			<div id="friendslist">

				<div id="topmenu">
					<span class="friends">CONTACTS</span>
				</div>

				<div id="friends">

					<div class="friend w3layouts">
						<img src="images/winter-soldier.jpg">
						<p>
							<strong>Bucky Barnes</strong>
							<span>wintersoldier@gmail.com</span>
						</p>
						<div class="status available"></div>
					</div>

					<div class="friend">
						<img src="images/captain-america.jpg">
						<p>
							<strong>Steve Rogers</strong>
							<span>captainamerica@gmail.com</span>
						</p>
						<div class="status away"></div>
					</div>

					<div class="friend">
						<img src="images/flying-falcon.jpg">
						<p>
							<strong>Sam Wilson</strong>
							<span>flyingfalcon@gmail.com</span>
						</p>
						<div class="status inactive"></div>
					</div>

					<div class="friend">
						<img src="images/black-widow.jpg">
						<p>
							<strong>Natasha Romanoff</strong>
							<span>blackwidow@gmail.com</span>
						</p>
						<div class="status inactive"></div>
					</div>

					<div class="friend agileits">
						<img src="images/iron-man.jpg">
						<p>
							<strong>Tony Stark</strong>
							<span>imironman4u@gmail.com</span>
						</p>
						<div class="status inactive"></div>
					</div>

					<div id="search">
						<input type="text" id="searchfield" value="Search contacts...">
					</div>

				</div>

			</div>

			<div id="chatview" class="p1">

				<div id="profile">
					<div id="close">
						<div class="cy"></div>
						<div class="cx"></div>
					</div>
					<p>Bucky Barnes</p>
					<span>wintersoldier@gmail.com</span>
				</div>

				<div id="chat-messages">

					<label>Monday 01</label>

					<div class="message w3layouts">
						<img src="images/winter-soldier.jpg">
						<div class="bubble">
							Why are you protecting me?
							<span>4 min</span>
						</div>
					</div>

					<div class="message right agileits">
						<img src="images/captain-america.jpg">
						<div class="bubble">
							Coz you're my best friend
							<span>3 min</span>
						</div>
					</div>

					<div class="message">
						<img src="images/winter-soldier.jpg">
						<div class="bubble">
							I don't remember you
							<span>2 Min</span>
						</div>
					</div>

					<div class="message right w3layouts">
						<img src="images/captain-america.jpg">
						<div class="bubble">
							But I remember you
							<span>1 Min</span>
						</div>
					</div>

					<div class="message">
						<img src="images/winter-soldier.jpg">
						<div class="bubble">
							Well, okay!
							<span>Now</span>
						</div>
					</div>

				</div>

				<div id="sendmessage">
					<input type="text" value="Send message...">
					<button id="send"></button>
				</div>

			</div>

		</div>

	</div>
</div>


