<div class="container w3layouts agileits" >

		<div id="chatbox">

			<div id="friendslist">

				<div id="topmenu">
					<span class="friends">CONTACTS</span>
				</div>

				<div id="friends">

					<div *ngFor ="let userkey of userKeys"  (click) = "chooseChatRoom(userkey, 'personal')" >
						<div class="friend" *ngIf= "userkey !== currentId" id  ="{{userkey}}">
							<img src="{{users[userkey].profile_pic}}">
							<p>
								<strong>{{users[userkey].name}}</strong>
								<span>{{users[userkey].realtime}}</span>
							</p>
							<div class="status {{users[userkey].realtime}}"></div>
						</div>		
					</div>
          
					<div class="friend" *ngFor ="let groupkey of groupKeys" id = "{{groupkey}}" (click) = "chooseChatRoom(groupkey, 'group')">
									<img src="{{groups[groupkey].picture}}">
									<p>
										<strong>{{groups[groupkey].name}}</strong>
										<span>online</span>
									</p>
									<div class="status online"></div>
					</div>
					
					<div id="search">
						<input type="text" id="searchfield" value="Search contacts...">
					</div>

				</div>

			</div>

			<div id="chatview" class="p1">

				<div id="profile">
					<div id="close">
						<div class="cy"></div>
						<div class="cx"></div>
					</div>
					<p>Bucky Barnes</p>
					<span>wintersoldier@gmail.com</span>
				</div>

				<div id="chat-messages">

					<div *ngFor = "let message of selectedChatroom['messages']">
						<div *ngIf= "message.author === currentId; then displaymymessage else displayothermessage">
						</div>
						<ng-template #displaymymessage>
								<div class="message right">
									<img src="{{currentUser.profile_pic}}" alt="">
										<div class="bubble">
												{{message.data.text}}
										</div>
								</div>
						</ng-template>
						<ng-template #displayothermessage>
								<div class="message">
											<img src="{{users[message.author].profile_pic}}">
											
										<div class="bubble">
												{{message.data.text}}
										</div>
								</div>
						</ng-template>
					</div>
				</div>
				<div id="sendmessage">
					<textarea type="text" placeholder="Send message..."></textarea>
						<label for="file-upload" class="custom-file-upload">
							<i class="fa fa-cloud-upload"></i>
						</label>
						<input id= "file-upload" type="file" (change) = "fileChangeEvent($event)" multiple/>
					<button id="send" (click) = "sendMessage(selectedChatroom.type, selectedChatroom.to)">--></button><br>
					<div></div><!--progress bar -->
					<!-- file upload -->
					<div></div>
				</div>

			</div>

		</div>

	</div>



