.new_comment_table
{
clear:left;
float:none;
overflow:hidden;
padding:5px 0 4px 5px;
width:90%;
max-width :700px;
font: size 13;
margin:1px 0 0 25px;
}
.new_comment_row
{
background-color:rgb(18, 231, 46);
}
.new_comment_text
{
max-width : 600px;
width:85%;
margin-top:2px;
vertical-align:top;
}