<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"  (click)="openNav()"><i class="fa fa-bars"></i></a>
  <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4" (click) = "scrollTo('mainpage')"><i class="fa fa-home w3-margin-right" ></i>GROUP</a>
  <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages" (click) = "navigateChat()"><i class="fa fa-envelope"></i></a>
  <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages" (click) = "logout()"><i class="fa fa-sign-out" style="font-size:24px"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a class="w3-bar-item w3-button">One new friend request</a>
      <a class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <a class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src='{{CurrentUser.profile_pic}}' class="w3-circle" style="height:30px;width:30px" alt="Avatar">
  </a>
 </div>
 <div class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large" #navDemo>
  <a class="w3-bar-item w3-button w3-padding-large"  (click) = "navigateChat()"> CHAT</a>
  <a class="w3-bar-item w3-button w3-padding-large" (click) = "logout()" >LOG OUT</a>
  <a class="w3-bar-item w3-button w3-padding-large" (click) = "scrollTo('schedule')">SCHEDULE</a>
  <a class="w3-bar-item w3-button w3-padding-large" >
      <div class="w3-dropdown-hover">
          <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
          <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:100%">
            <a class="w3-bar-item w3-button">One new friend request</a>
            <a class="w3-bar-item w3-button">John Doe posted on your wall</a>
            <a class="w3-bar-item w3-button">Jane likes your post</a>
          </div>
        </div>
  </a>
</div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px" id = "mainpage">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="{{CurrentUser.profile_pic}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{CurrentUser.name}}</p>
        </div>
      </div> 
      <br>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">GREENAMS 6520 SOCIAL MEDIA</h6>
              <p contenteditable="true" class="w3-border w3-padding" id= "newpost" placeholder = "Put the message of the post right here"></p>
              <br>
              <ul class="w3-ul w3-center">
                <li *ngFor = "let file of FilesToUpload">{{file.name}}</li>
              </ul>
              <br>
              <br>
              <button type="button" class="w3-button w3-theme" (click) = "setNewPost()"><i class="fa fa-pencil" ></i> Post</button> 
              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i>
            </label>
            <input id= "file-upload" type="file" (change) = "fileChangeEvent($event)" multiple/>
            </div>
          </div>
        </div>
      </div>
      <div >
        <app-grouppost
          *ngFor= "let post of posts" 
          [post]= "post"
          [currentUser] = "CurrentUser"
          [users] = "users"
        ></app-grouppost>

      </div>
      
    <!-- End Middle Column -->
  
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2" id = "schedule">
      <h3>SCHEDULE AND EVENT</h3>
      <p>Chat with Admin Botty Green to set a schedule for your team</p>
      <div class="w3-card w3-round w3-white w3-center" *ngFor = "let event of events">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSulb8A25pOE1MaCO-owqBNtUA5Ywe6hBhQivTPCPXPQgHNltEF" alt="Forest" style="width:100%;">
          <p><strong>{{event.content}}</strong></p>
          <p>{{event.day}}</p>
          <p>{{event.time}}</p>
        </div>
      </div>
      <hr class = "w3-clear">  
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->


</div>
<br>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <span class="close">&times;</span>
      <h2>GreenAms Messenger</h2>
      <app-messenger 
        [currentUser] = "CurrentUser"
        [currentId]= "id"
      ></app-messenger>
  </div>
</div>

