@import url('https://www.w3schools.com/lib/w3-theme-blue-grey.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0.5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #6191f7;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #e01616;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(34, 196, 155);
    text-decoration: none;
    cursor: pointer;
}
new_noti_table
{
clear:left;
float:none;
overflow:hidden;
padding:5px 0 4px 5px;
width:90%;
max-width :700px;
font: size 10;
margin:1px 0 0 25px;
}
.new_noti_row
{
background-color:rgb(18, 231, 46);
}
.new_noti_text
{
max-width : 600px;
width:85%;
margin-top:2px;
vertical-align:top;
}
.new_noti_row_old
{
background-color:rgb(3, 65, 11);
}
